:root {
    --bg-dark: #0b0f14;
    --bg-light: #111827;

    --text-main: #e5e7eb;
    --text-muted: #9ca3af;

    --cyan: #22d3ee;
    --pink: #f472b6;

    --radius: 12px;
    --transition: 200ms ease;
}