.anime-card{
    margin-top: 10px;
    min-width: 160px;
    background-color: var(--bg-light);
    border-radius: var(--radius);
    padding: 0.5rem;
    cursor: pointer;
    transition: transform var(--transition), box-shadow var(--transition);
}

.anime-card:hover{
    transform: translateY(-6px);
    box-shadow: 0 0 15px var(--cyan);
}

.image-wrapper{
    position: relative;
    overflow: hidden;
    border-radius: var(--radius);
}
.image-wrapper img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
}

.watchlist-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: var(--bg-light);
    color: var(--cyan);
    border: none;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    font-size: 1.9rem;
    font-weight: bold;
    display: grid;
    align-items: center;
    opacity: 0;
    cursor: pointer;
    transition: opacity var(--transition), transform var(--transition);
}

.image-wrapper:hover .watchlist-btn {
    opacity: 1;
    transform: scale(1.1);
}

.watchlist-btn:hover{
    box-shadow: 0 0 10px var(--cyan);
}

.anime-card h3 {
    font-size: 0.9rem;
    margin-top: 0.5rem 0.5rem 0.2rem;
}

.anime-year{
    font-size: 0.75rem;
    color: var(--text-muted);
    margin-left: 0.5rem;
}