.watchlist-card {
    display: flex;
    gap: 1rem;
    background-color: var(--bg-light);
    border-radius: var(--radius);
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    align-items: center;
    padding: 0.6rem;
}

.watchlist-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.45);
}

.watchlist-card img {
    width: 120px;
    height: 170px;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: var(--radius);
}

.watchlist-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.75rem 0.75rem, 0.75rem 0;
    flex: 1;
} 

.watchlist-info h3 {
    font-size: 1rem;
    line-height: 1.3;
    color: var(--text-main);
    margin: 0;
}

.watchlist-info span {
    font-size: 0.75rem;
    color: var(--text-muted);
    margin-top: 0.25rem;
}

.watchlist-actions {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.view-btn,
.remove-btn {
    flex: 1;
    font-size: 0.75rem;
    padding: 0.4rem 0.5rem;
    border-radius: var(--radius);
    cursor: pointer;
    transition: var(--transition);
    font-weight: 500;
}

.view-btn {
    background-color: var(--cyan);
    color: var(--bg-dark);
    border: none;
    text-align: center;
}

.view-btn:hover {
    opacity: 0.9;
}

.remove-btn {
    background: transparent;
    border: 1px solid var(--pink);
    color: var(--pink);
    text-align: center;  
}

.remove-btn:hover {
    background-color: var(--pink);
    color: var(--bg-dark);
}

@media (max-width: 1024px) {
    .watchlist-actions{
        margin-top: 0.5rem;
    }
}

@media (max-width: 768px) {
    .watchlist-card {
        gap: 0.75rem;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: transparent;
    }

    .watchlist-card img {
        width: 90px;
        height: 130px;
    }
    
    .watchlist-actions {
        flex-direction: row;
        justify-content: center;
        gap: 0.5rem;
        width: 100%;
    }

    .watchlist-info {
        justify-content: center;
    }
}